@charset "utf-8";
@import "base.css";

/* canvas */

main #defaultCanvas0{
    height: calc(100vh - 56px);
    width: 100vw;
}


/* header */

header{
    min-width: 100%;
    background-color: #57a451;
    overflow: hidden;
}

header div{
    display: flex;
    justify-content: space-between;
}
/* control bar */

header div .bar{
    text-align: left;
    height: 56px;
}
header div .bar ul{
    list-style: none;
    font-size: 0;
}
header div .bar ul li{
    display: inline;
    line-height: 56px;
    cursor: default;
}
header div .bar ul li button{
    padding: 18px;
    font-size: 20px;
    max-width: 56px;
    max-height: 56px;
    color: white;
    background-color: #57a451;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: .2px;
    text-transform: none;
    cursor: pointer;
}
#color{
    -webkit-appearance: none;
    display: none;
}
header div .bar ul li button:hover{
    color: lightgray;
    background-color: lightseagreen;
}
header div .bar ul li button:disabled, header div .bar ul li button.true{
    color: grey;
    background-color: #24ec11;
}

#colorTool{
    --pen-color:#000;
    color: var(--pen-color);
    background-color: #57a451;
}
#colorTool:hover{
    background-color: lightseagreen;
}
header div nav{
    text-align: right;
    height: 56px;
}
header div nav ul{
    list-style: none;
    font-size: 0;
}
header div nav ul li{
    display: inline;
    line-height: 56px;
    cursor: default;
}

header div nav ul li a{
    font-size: 17px;
    color: white;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: .2px;
    text-transform: none;
    cursor: pointer;
}
nav ul li a:hover{
    text-decoration: underline;
}
nav ul li+li{
    margin-left: 25px;
}