@charset "utf-8";
@import "base.css";
@import "header-footer.css";

/* variables */

:root{/* variables:all */
    --textarea-color: var(--background-color);
    --textarea-text-color: var(--c2);
    --button-color: var(--c1);
    --button-hover: var(--lc3);
    --button-text: var(--white);
    --button-hover-text: var(--c3);
}
header{/* variables:header */
    --header-text: var(--white);
    --header-back: var(--c1);
    --header-back-hover: var(--white);
    --header-text-hover: var(--c2);
}
section .container{
    padding: 0 5%;
}

/* hero banner */

.hero-banner{
    --text-color: var(--middle-i-color);

    text-align: center;
    display: flex;
    align-items: center;
    height: fit-content;
    padding: 64px 28px 69px 28px;
    background-color: var(--white);
}
.hero-banner h2{
    font-size: 46px;
    font-weight: 300;
    color: var(--text-color);
}
.hero-banner h3{
    font-size: 24px;
    font-weight: 300;
    color: var(--text-color);
}
.hero-banner hr{
    width: 70px;
    margin: 0 auto;
   margin-top: 22px;
   border-top: 3px solid var(--text-color);
}

/* sections */

section{
    --text-color: var(--c2);
    --h-color: var(--c1);

    padding: 80px 0;
    background-color: #f7f8f9;
}
section + section{
    padding-top: 0;
}
section h2{
    width: 100%;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 25px;
}
section .container p, section .container ul{
    letter-spacing: 0.5px;
    color: var(--text-color);
    padding: 15px;
    font-size: 20px;
    font-family: var(--header-font);
    font-weight: 400;
    line-height: 40px;
}
section .container ul {
    list-style: inside;
    padding: 0 15px;
    margin: -6px 0;
}
section .container ul p{
    font-size: 20px;
    padding: 0;
}
section .container h3{
    color: var(--h-color);
    font-size: 24px;
    font-family: var(--hero-banner-font);
    font-weight: 500;
    padding: 0 15px;
    padding-top: 65px;
}
section .container h3:first-of-type{
    padding-top: 15px;
}
figure{
    shape-outside: margin-box;
    float: left;
    padding: 15px;
    padding-bottom: 0;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 30%;
}





/* media q */

@media screen and (min-width: 320px){
    nav{display: none;}
    .mobile-nav {display: block;}
}
@media screen and (min-width: 580px){
    nav { display: none; }
    .mobile-nav { display: block; }
}
@media screen and (min-width: 768px){
    .container, .row-container {
        max-width: 800px;
    }
    nav { display: block; }
    .mobile-nav { display: none; }
}        
@media screen and (min-width: 1024px){
    .container, .row-container {
        max-width: 1140px;
    }
    nav { display: block; }
    .mobile-nav { display: none;}
    .col-2{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-2 .col-content{
        height: 415px;
    }
}